/* body */
body {
    margin: 0;
    height: 100vh;
    width:  100vw;
    background: radial-gradient(#FBF6EE, #C1F2B0, #77e34c);
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* nav */
nav {
    background-color: #1E3913;
    padding: 0 1rem;
    display: flex;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
nav li {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
nav a {
    text-decoration: none;
    padding: 0.5rem;
}
nav p, nav a {
    color: #e9ebe7;
    font-weight: bold;
    font-size: 2rem;
}

/* logo */
.logo .highlight {
    color: #c8f2b1;
}

/* main */
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #F0FFF0;
    padding: 1.5rem;
    border-radius: 3rem;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    color: #1E3913;
    font-size: 2.7rem;
    font-weight: 700;
}

/* username & password & email */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgba(150, 180, 145, 0.37);
    border-radius: 3rem;
}
.input img {
    margin: 1rem;
}
.input input {
    height: 1.5rem;
    width: 20rem;
    background: transparent;
    border: none;
    color: #1E3913;
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 0 0.3em;
}

/* login & signup  buttons */
.submits {
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2.5rem;
    color: azure;
    background-color: #1E3913;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
    border: none;
}

/* for navbar when width =< 720px */
@media (max-width: 720px) {
    nav{
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
    }
}