/* body */
body {
    margin: auto;
    background: radial-gradient(#FBF6EE, #C1F2B0, #77e34c);
    font-family: Verdana;
    background-attachment: fixed;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* nav */
nav {
    background-color: #1E3913;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}
nav p{
    color: #e9ebe7;
    font-weight: bold;
    font-size: 1.5em;
}

/* logo */
.logo .highlight {
    color: #c8f2b1;
}

/* outter main */
.container {
    margin: auto;
    padding: 1.5em;
    border-radius: 2em;
    background-color: #F0FFF0;
    display: flex;
    height: 70%;
    align-self: center;
}

/* sidebar */
.sidebar {
    padding: 1% 3%;
    border-radius: 2em;
    background-color: rgba(150, 180, 145, 0.37);
}
.sidebar p {
    color: #1E3913;
    font-size: 1.5em;
    margin: 0.3em;
}
.sidebar p:hover {
    scale: 1.1;
}

/* for inner main */
.main {
    box-sizing: border-box;
    padding-right: 2em;
}

/* task input field & button */
.add {
    display: flex;
    padding: 0.5em;
    background-color: rgba(150, 180, 145, 0.37);
    border-radius: 3em;
    margin-left: 4%;
    
}
.add input {
    width: 15em;
    color: #1E3913;
    border-radius: 3em;
    font-size: 1.2em;
    border: none;
    background: transparent;
    margin: 0 0.2em;
    padding-left: 0.5em;
}
.add button {
    width: 8em;
    height: 2em;
    color: azure;
    background-color: #1E3913;
    border-radius: 3em;
    font-size: 1.2em;
    font-weight: 600;
    cursor: default;
    border: none;
}
/* ul tag were will be added tasks */
#tasks {
    height: 85%;
    overflow-y: auto;
    padding-inline-start: 1em;
}

/* not done icon */
ul li {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    position: relative;
}
ul li::before{
    content: '';
    height: 30px;
    width: 30px;
    background-image: url(../images/notdone.png);
}
/* done icon */
ul li.done {
    color: gray;
    text-decoration: line-through;
}
ul li.done::before {
    background-image: url(../images/done.png);
}
/* update icon */
ul li img {
    position: absolute;
    right: 8%;
    top: 10%;
    border-radius: 50%;
    
}
ul li img:hover {
    transform: scale(1.1);
}

/* delete icon */
ul li p {
    position: absolute;
    right: 0;
    color: #1E3913;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0;
}
ul li p:hover {
    transform: scale(1.2);
}

/* for navbar when width =< 720px */
@media (max-width: 720px) {
    nav{
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
    }
}

/* for user name */
div #user {
    background-color: #1E3913;
    border-radius: 3em;
}
#user {
    text-align: center;
    color: azure;
    padding: 0.2em;
}